@import url("https://fonts.googleapis.com/css?family=Handlee|Roboto&display=swap");

/* Universal Styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Modal Styling */
.login-modal {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #fffefa;
  padding: 3rem;
  z-index: 2;
  border-radius: 1.25rem;
  outline: none;
}

.login-modal input {
  background: #efefef;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 0.3rem;
  outline: none;
}

.input-modal {
  display: block;
  margin: 0.625rem auto;
  padding: 0.25rem;
  max-width: 28.625rem;
  width: 100%;
  height: 1.875rem;
  border: 1px solid #e1467c;
  box-sizing: border-box;
  border-radius: 8px;
}

.button-modal {
  border-radius: 1.875rem;
  border: none;
  padding: 0.3125rem 0.625rem;
  color: #fff;
  width: 9.375rem;
  height: 1.875rem;
  margin-top: 2rem !important;
}
.login-modal-show {
  display: flex;
}

.loginModal {
  height: 100vh;
  background: url("https://i.imgur.com/AZmy6tg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.loginModal::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 11.25rem 100px 250px #000000,
    inset -11.25rem -100px 250px #000000;
}

.loginTitle {
  margin-bottom: 2rem !important;
}

.loginInputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 1rem;
}

.forgotText {
  padding-top: 1rem;
}
